#main {
        background-color: #232629;
        display: flex;
        margin: 0px;
        overflow-x: hide !important;
        color: white;
        font-family: sans-serif;
}
body {
        background-color: #232629;
        margin: 0px;
        overflow-x: hide !important;
        color: white;
        font-family: sans-serif;
}
.box {
        border-radius: 10px;
        background-color: #161718;
        overflow: hide !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0px
}
#d1 {
        width:500%;
        margin-right: 5px;
}
.kribi {
        border-radius: 5px;
}
.kribidad {
        display: flex;
        margin: 0;
}
.kribidad p {
        color:white;
        text-decoration: none;
        text-decoration-color: #161718;
        underline: none;
}
.coolguy {
        text-size-adjust: smaller;
        font-size: x-small;
}